<!DOCTYPE html>
<html>
<head>
  <title>feedshub</title>
  <%= stylesheet_link_tag    "feedshub/application", media: "all" %>
  <%= javascript_include_tag "feedshub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
