<div id='github_feeds' class="news public_news">
  <% @entries.each do |entry| %>
    <div class="alert issues_comment">
      <div class="body">
        <%= entry.content.html_safe %>
      </div>
    </div>
  <% end %>
</div>